extends ../../_component/layout/layout

block config
  -
    var metaTitle = 'Thomas More'
    var metaDescription = 'Project Description Thomas More'
    var showBackButton = `${baseUrl}project`

block content
  .column(span="row")
    .thomas-page
  -
    var currentLink = 'project/thomas-more'
    var pageInfo = data.project.filter(nooo => nooo.link === currentLink)[0]
  include ../../_component/product-description/product-description
