.column(span="row" height="30")
.column(span="row")
  h2.sub-title=pageInfo.title
.column(span="row" height="30-hr")

.column(span="row")
  .galleria-wrapper
    .galleria
      each image, niceIndex in pageInfo.imageList
        img(src=`${baseUrl}${image}`)
include ../gallery/gallery

.column(span="row" height="30-hr")
.column(span="row")
  each text in pageInfo.descriptionList
    p.description-text=text
