extends ../../_component/layout/layout

block config
  -
    var metaTitle = 'One Finsbury Circus'
    var metaDescription = 'Project Descricption One Finsbury Circus'
    var showBackButton = `${baseUrl}project`

block content
  .column(span="row")
    .finsbury-page
  -
    var currentLink = 'project/one-finsbury-circus'
    var pageInfo = data.project.filter(nooo => nooo.link === currentLink)[0]
  include ../../_component/product-description/product-description
