extends ../../_component/layout/layout

block config
  -
    var metaTitle = 'Chelsea Barracks'
    var metaDescription = 'Project Description Chelsea Barracks'
    var showBackButton = `${baseUrl}project`

block content
  .column(span="row")
    .chelsea-page
  -
    var currentLink = 'project/chelsea-barracks'
    var pageInfo = data.project.filter(nooo => nooo.link === currentLink)[0]
  include ../../_component/product-description/product-description
