extends ../../_component/layout/layout

block config
  -
    var metaTitle = 'Tottenham Court Road'
    var metaDescription = 'Project Descricption Tottenham Court Road'
    var showBackButton = `${baseUrl}project`

block content
  .column(span="row")
    .tottenham-page
  -
    var currentLink = 'project/tottenham-court-road'
    var pageInfo = data.project.filter(nooo => nooo.link === currentLink)[0]
  include ../../_component/product-description/product-description
