extends ../_component/layout/layout

block config
  -
    var metaTitle = 'Photos'
    var metaDescription = 'Photo Descricption'
    var showBackButton = baseUrl

block content
  .column(span="row")
    .photo

  .column(span="row" height="30")
  .column(span="row")
    h2.sub-title Photos
  .column(span="row" height="30-hr")

  .column(span="row")
    .galleria-wrapper
      .galleria
        each project in data.photo
          img(
            src=`${baseUrl}${project.imagePath}`
            alt=project.title
          )
  .column(span="row")

  include ../_component/gallery/gallery

