.contact {
  @extend %landing-image;

  &::after {
    background-image: url(#{$baseUrl}asset/image/background-image/contacts.jpg);
  }
}

.sub-title--left[data-label]::before {
  content: attr(data-label);
  padding-right: 20px;
  text-transform: capitalize;
}

.contact-value {
  font-size: 16px;
  &::before {
    content: attr(data-before)
  }
  &::after {
    content: attr(data-after)
  }
}

span[data-before] {
  display: flex;
  font-size: 14px;
  line-height: 30px;
}


