.sub-title--left[data-label]::before {
  content: attr(data-label);
  padding-right: 20px;
  text-transform: capitalize;
}

.contact-value {
  &::before {
    content: attr(data-before)
  }
  &::after {
    content: attr(data-after)
  }
}

.contact {
  @extend %landing-image;

  &::after {
    background-image: url(#{$baseUrl}asset/image/contacts.jpg);
  }
}

