extends ../../_component/layout/layout

block config
  -
    var metaTitle = 'River Walk'
    var metaDescription = 'Project Descricption River Walk'
    var showBackButton = `${baseUrl}project`

block content
  .column(span="row")
    .river-walk-page
  -
    var currentLink = 'project/river-walk'
    var pageInfo = data.project.filter(nooo => nooo.link === currentLink)[0]
  include ../../_component/product-description/product-description
