extends ../../_component/layout/layout

block config
  -
    var metaTitle = 'One Tower Bridge Building 5'
    var metaDescription = 'Project Descricption One Tower Bridge Building 5'
    var showBackButton = `${baseUrl}project`

block content
  .column(span="row")
    .tower-bridge-page
  -
    var currentLink = 'project/one-tower-bridge-building-5'
    var pageInfo = data.project.filter(nooo => nooo.link === currentLink)[0]
  include ../../_component/product-description/product-description
