extends ../../_component/layout/layout

block config
  -
    var metaTitle = '1 Harman Boulevard Banchester'
    var metaDescription = 'Project Descricption riverlight 2'
    var showBackButton = `${baseUrl}project`

block content
  .column(span="row")
    .harman-page

  -
    var currentLink = 'project/1-harman-boulevard-manchester'
    var pageInfo = data.project.filter(nooo => nooo.link === currentLink)[0]
  include ../../_component/product-description/product-description
