extends ../../_component/layout/layout

block config
  -
    var metaTitle = 'riverlight 4'
    var metaDescription = 'Project Descricption riverlight 4'
    var showBackButton = `${baseUrl}project`

block content
  -
    var currentLink = 'project/riverlight-4'
    var pageInfo = data.project.filter(nooo => nooo.link === currentLink)[0]
  include ../../_component/product-description/product-description
