extends ../../_component/layout/layout

block config
  -
    var metaTitle = 'Riverwalk shopping centre - Hemel Hampstead'
    var metaDescription = 'Riverwalk shopping centre - Hemel Hampstead'
    var showBackButton = `${baseUrl}project`

block content
  .column(span="row")
    .riverwalk-shopping

  -
    var currentLink = 'project/riverwalk-shopping'
    var pageInfo = data.project.filter(nooo => nooo.link === currentLink)[0]
  include ../../_component/product-description/product-description
