@media(min-width: 1280px) {
  .image-slider__list--small {
    height: 150px;
  }

  .project {
    &::after {
      background-image: url(#{$baseUrl}asset/image/background-image/135-bishop-2.jpg);
    }
  }
}