extends ../../_component/layout/layout

block config
  -
    var metaTitle = 'Lancon House'
    var metaDescription = 'Project Description Lancon House'
    var showBackButton = `${baseUrl}project`

block content
  .column(span="row")
    .lancon-page
  -
    var currentLink = 'project/lancon-house'
    var pageInfo = data.project.filter(nooo => nooo.link === currentLink)[0]
  include ../../_component/product-description/product-description
