@media (min-width: 1280px) {
  .grid {
    grid-template-columns: repeat(12, 1fr);
  }

  .content {
    padding: 0 140px;
  }

  .image-hover {
    position: relative;
    display: inline-block;
    overflow: hidden;

    &::before {
      transition: 200ms;
      content: attr(title);
      position: absolute;
      bottom: -100%;
      left: 0;
      right: 0;
      background-color: black;
      color: white;
      padding: 1rem;
    }

    &:hover::before {
      bottom: 0;
    }
  }

  .column[height="30-hr-6"] {
    &::after {
      border-top: 6px solid #fff;
    }
  }

  .image-100 {
    width: 325px;
    height: 325px;
  }


  div.product-image__list {
    grid-template-columns: repeat(12, 1fr);
  }


  .nice-message,
  .icon__search {
    display: none;
  }
}