@import 'roboto-font';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  // height: 100%;
  background-color: #000;
  color: white;
  font-family: 'Roboto', sans-serif;
}

body {
  padding-bottom: 80px;
}

.content {
  padding: 0 37px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.column[span="row"] {
  grid-column: 1/-1;
}

.column[height="30"] {
  height: 30px;
}

.column[height="30-hr"],
.column[height="30-hr-6"] {
  height: 30px;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
  }
}

.column[height="30-hr"] {
  &::after {
    border-top: 1px solid #707070;
  }
}

.column[height="30-hr-6"] {
  &::after {
    border-top: 6px solid #fff;
  }
}

.description-box-shadow {
  background-color: #393939;
  padding: 20px;
  box-shadow: 0 10px 10px rgba($color: #000000, $alpha: 0.25);
}

.description-text {
  font-size: 14px;
  line-height: 30px;
}
