* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  // height: 100%;
  background-color: #000;
  color: white;
  font-family: 'Roboto', sans-serif;
}

body {
  padding-bottom: 80px;
}

.content {
  padding: 0 37px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.column[span="row"] {
  grid-column: 1/-1;
}

.column[span="4"] {
  grid-column: span 4;
}

.image-100 {
  width: 100%;
}

.column[height="30"] {
  height: 30px;
}

.column[height="30-hr"],
.column[height="30-hr-6"] {
  height: 30px;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
  }
}

.column[height="30-hr"] {
  &::after {
    border-top: 1px solid #707070;
  }
}

.column[height="30-hr-6"] {
  &::after {
    border-top: 2px solid #fff;
  }
}

.description-box-shadow {
  background-color: #393939;
  padding: 20px;
  box-shadow: 0 10px 10px rgba($color: #000000, $alpha: 0.25);
}

.description-text {
  font-size: 14px;
  line-height: 30px;
}

.sub-title {
  text-align: center;
}

.sub-title--left {
  text-align: left;
  padding-bottom: 5px;
}

.sub-title,
.sub-title--left {
  font-size: 20px;
  line-height: 21px;
}

%landing-image {
  height: 100vh;
  position: relative;
  
  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: -37px;
    left: -37px;
    background-size: cover;
    background-position: center center;
  }
}
