@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 16px;
  }

  .content {
    padding: 0 80px;
  }

  %landing-image {
    &::after {
      top: 160px;
      right: 0;
      left: 0;
    }
  }

  .sub-title {
    text-align: left;
  }

  .menu .menu__disc {
    position: absolute;
    right: 0;
    top: -50px;
    font-size: 24px;
    padding-left: 30px
  }

  .column[height="30-hr-6"] {
    &::after {
      border-top: 4px solid #fff;
    }
  }

  .image-100 {
    width: 296px;
    height: 296px;
  }

  div.product-image__list {
    grid-template-columns: repeat(4, 1fr);
  }
  
}