* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  // height: 100%;
  background-color: #000;
  color: white;
  font-family: 'Prompt', sans-serif;
}

body {
  padding-bottom: 80px;
}

.content {
  padding: 0 37px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.column[span="row"] {
  grid-column: 1/-1;
}

.column[span="4"] {
  grid-column: span 4;
  // text-align: center;
}

.column[textAlign="center"] {
  grid-column: span 4;
  text-align: center;
}

.image-100 {
  width: 286px;
  height: 286px;
}

.column[height="30"] {
  height: 30px;
}

.column[height="30-hr"],
.column[height="30-hr-6"] {
  height: 30px;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
  }
}

.column[height="30-hr"] {
  &::after {
    border-top: 1px solid #707070;
  }
}

.column[height="30-hr-6"] {
  &::after {
    border-top: 2px solid #fff;
  }
}

.description-box-shadow {
  // background-color: #393939;
  // padding: 0 50px 0 0;
  box-shadow: 0 10px 10px rgba($color: #000000, $alpha: 0.25);
}

.description-text {
  font-size: 14px;
  line-height: 30px;
  padding-right: 100px;
  font-family: Spectral, sans-serif;
}

.sub-title {
  text-align: center;
}

.sub-title--left {
  text-align: left;
  padding-bottom: 5px;
}

.sub-title,
.sub-title--left {
  font-size: 20px;
  line-height: 21px;
}

%landing-image {
  height: 100vh;
  position: relative;
  
  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: -37px;
    left: -37px;
    background-size: cover;
    background-position: center center;
  }
}

.product-image {
  height: 100px;
  width: 150px;
  border: 1px solid black;
  margin: 0 auto;
  background-image: url(asset/image/product/16-logo.jpg);

  &:nth-child(2) {
    background-position-y: -104px;
  }

  &:nth-child(3) {
    background-position-y: -200px;
  }

  &:nth-child(4) {
    background-position-y: -300px;
  }

  &:nth-child(5) {
    background-position-y: -400px;
  }

  &:nth-child(6) {
    background-position-y: -500px;
  }

  &:nth-child(7) {
    background-position-y: -600px;
  }

  &:nth-child(8) {
    background-position-y: -700px;
  }

  &:nth-child(9) {
    background-position-y: -800px;
  }

  &:nth-child(10) {
    background-position-y: -900px;
  }

  &:nth-child(11) {
    background-position-y: -1000px;
  }

  &:nth-child(12) {
    background-position-y: -1100px;
  }

  &:nth-child(13) {
    background-position-y: -1200px;
  }

  &:nth-child(14) {
    background-position-y: -1300px;
  }

  &:nth-child(15) {
    background-position-y: -1400px;
  }

  &:nth-child(16) {
    background-position-y: -1500px;
  }
}