* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  // height: 100%;
  background-color: #000;
  color: white;
  font-family: 'Prompt', sans-serif;
}

body {
  padding-bottom: 80px;
}

.content {
  padding: 0 37px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.column[span="row"] {
  grid-column: 1/-1;
}

.column[span="4"] {
  grid-column: span 4;
}

.column[textAlign="center"] {
  grid-column: span 4;
  text-align: center;
}

.image-100 {
  width: 286px;
  height: 286px;
}

.column[height="30"] {
  height: 30px;
}

.column[height="30-hr"],
.column[height="30-hr-6"] {
  height: 30px;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
  }
}

.column[height="30-hr"] {
  &::after {
    border-top: 1px solid #707070;
  }
}

.column[height="30-hr-6"] {
  &::after {
    border-top: 2px solid #fff;
  }
}

.description-text {
  font-size: 16px;
  line-height: 30px;
  padding-right: 100px;
  font-family: Spectral, sans-serif;
  text-align: left;
}

.sub-title {
  text-align: center;
}

.sub-title--left {
  text-align: left;
  padding-bottom: 5px;
}

.sub-title,
.sub-title--left {
  font-size: 22px;
  line-height: 21px;
  font-weight: 500;
}

%landing-image {
  height: 100vh;
  position: relative;
  
  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: -37px;
    left: -37px;
    background-size: cover;
    background-position: center center;
  }
}

// .product-image {
//   // height: 100px;
//   // width: 150px;
//   width: 100%;
//   padding-top: 66%;
//   border: 1px solid black;
//   // margin: 0 auto;
//   margin-right: 10px;
//   margin-bottom: 10px;
//   background-size: 100%;
//   background-image: url(asset/image/product/16-logo.jpg);

//   @for $i from 0 to 16 {
//     &:nth-child(#{$i}) {
//       background-position-y: -#{($i - 1) * 6.66 + 0%};
//     }
//   }
// }

.nice-message{
  text-align: center;
  padding: 5px;
}

.product-image__list,
.qualification-image__list {
  text-align: center;

}