@media (min-width: 1280px) {
  .grid {
    grid-template-columns: repeat(12, 1fr);
  }

  .content {
    padding: 0 140px;
  }

  .image-hover {
    position: relative;
    display: inline-block;
    overflow: hidden;

    &::before {
      transition: 200ms;
      content: attr(title);
      position: absolute;
      bottom: -100%;
      left: 0;
      right: 0;
      background-color: black;
      color: white;
      padding: 1rem;
    }

    &:hover::before {
      bottom: 0;
    }
  }

  .column[height="30-hr-6"] {
    &::after {
      border-top: 6px solid #fff;
    }
  }

  .image-100 {
    width: 325px;
    height: 325px;
  }

    // .product-image {
    //   width: 150px;
    //   height: 150px;
    //     background-image: url(asset/image/product/16-logo-sleeping.jpg);
      
    //     &:nth-child(2) {
    //       background-position-y: -104px;
    //     }
      
    //     &:nth-child(3) {
    //       background-position-y: -200px;
    //     }
      
    //     &:nth-child(4) {
    //       background-position-y: -300px;
    //     }
      
    //     &:nth-child(5) {
    //       background-position-y: -400px;
    //     }
      
    //     &:nth-child(6) {
    //       background-position-y: -500px;
    //     }
      
    //     &:nth-child(7) {
    //       background-position-y: -600px;
    //     }
      
    //     &:nth-child(8) {
    //       background-position-y: -700px;
    //     }
      
    //     &:nth-child(9) {
    //       background-position-y: -800px;
    //     }
      
    //     &:nth-child(10) {
    //       background-position-y: -900px;
    //     }
      
    //     &:nth-child(11) {
    //       background-position-y: -1000px;
    //     }
      
    //     &:nth-child(12) {
    //       background-position-y: -1100px;
    //     }
      
    //     &:nth-child(13) {
    //       background-position-y: -1200px;
    //     }
      
    //     &:nth-child(14) {
    //       background-position-y: -1300px;
    //     }
      
    //     &:nth-child(15) {
    //       background-position-y: -1400px;
    //     }
      
    //     &:nth-child(16) {
    //       background-position-y: -1500px;
    //     }
}