$icomoon-font-family: "robert" !default;
$icomoon-font-path: "asset/font" !default;

$icon__menu: "\ec6d";
$icon__cross: "\ed6d";
$icon__circle-left: "\edf2";
$icon__facebook: "\eef0";
$icon__instagram: "\eef1";
$icon__twitter: "\eef5";
$icon__tumblr: "\ef19";
$icon__linkedin: "\ef28";

