.about {
  @extend %landing-image;

  &::after {
    background-image: url(#{$baseUrl}asset/image/background-image/good-about.jpeg);
  }
}

.list-title {
  line-height: 40px;
  font-family: Prompt, sans-serif;
  font-size: 20px;
}
