extends ../_component/layout/layout

block config
  -
    var metaTitle = 'About Us'
    var metaDescription = 'About Profesional Mastic Applier'
    var showBackButton = baseUrl

block content
  .column(span="row")
    .about

  .column(span="row" height="30")
  .column(span="row")
    h2.sub-title About Us

  .column(span="row" height="30-hr")
  .column(span="row")
    .description-box-shadow
      p.description-text Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam, voluptatibus. Placeat, ratione soluta dignissimos ipsum ad deserunt recusandae neque tempore tenetur, molestias quia nihil consectetur quaerat cum dolorum, eveniet sed.
      p.description-text Iste molestias odio harum ipsam nam beatae corporis, aperiam tenetur voluptas, molestiae praesentium! Aspernatur, inventore perspiciatis voluptatem veniam distinctio placeat pariatur nostrum consequuntur doloribus soluta exercitationem, a deserunt enim ea.
