extends ../../_component/layout/layout

block config
  -
    var metaTitle = 'Lillie Square'
    var metaDescription = 'Project Description Lillie Square'
    var showBackButton = `${baseUrl}project`

block content
  .column(span="row")
    .lilie-page
  -
    var currentLink = 'project/lillie-square'
    var pageInfo = data.project.filter(nooo => nooo.link === currentLink)[0]
  include ../../_component/product-description/product-description
