extends ../../_component/layout/layout

block config
  -
    var metaTitle = 'Kensington Row'
    var metaDescription = 'Project Description Kensington Row'
    var showBackButton = `${baseUrl}project`

block content
  .column(span="row")
    .kensington-page
  -
    var currentLink = 'project/kensington-row'
    var pageInfo = data.project.filter(nooo => nooo.link === currentLink)[0]
  include ../../_component/product-description/product-description
