extends ../../_component/layout/layout

block config
  -
    var metaTitle = 'Nova Victoria Building 5'
    var metaDescription = 'Project Description Nova Victoria Building 5'
    var showBackButton = `${baseUrl}project`

block content
  .column(span="row")
    .nova-page
  -
    var currentLink = 'project/nova-victoria-building-5'
    var pageInfo = data.project.filter(nooo => nooo.link === currentLink)[0]
  include ../../_component/product-description/product-description
