extends ../../_component/layout/layout

block config
  -
    var metaTitle = 'Triangle Cambridge'
    var metaDescription = 'Project Description Triangle Cambridge'
    var showBackButton = `${baseUrl}project`

block content
  .column(span="row")
    .triangle-page
  -
    var currentLink = 'project/triangle-cambridge'
    var pageInfo = data.project.filter(nooo => nooo.link === currentLink)[0]
  include ../../_component/product-description/product-description
