extends ../../_component/layout/layout

block config
  -
    var metaTitle = 'Cathedral Lane Shopping Centre Coventry'
    var metaDescription = 'Project Descricption Cathedral Lane Shopping Centre Coventry'
    var showBackButton = `${baseUrl}project`

block content
  .column(span="row")
    .cathedral-page
  -
    var currentLink = 'project/cathedral-lane-shopping-centre-coventry'
    var pageInfo = data.project.filter(nooo => nooo.link === currentLink)[0]
  include ../../_component/product-description/product-description
