.column(span="row" height="30-hr-6")
.column(span="row")
  .footer-social
    each social in data.footer.socialList
      a.menu__disc(href=social.link)
        i(class=`icon__${social.icon}`)

  p.footer-paragraph Copyright &copy; 2019 Cristi Inc. All rights reserved.

