.menu {
  // border: 1px solid #707070;
  background-color: #393939;
  height: 60px;
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
}

.menu__title {
  flex-grow: 1;
  line-height: 21px;
  font-size: 15px;
  padding: 0 10px;
  text-align: center;
}

.menu__disc {
  background-color: rgba(0, 0, 0, 0.5);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 0;
  color: white;
  // display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &[for="menu"] {
    margin-right: 20px;
  }

  &:first-child {
    margin-left: 20px;
  }
}

#menu {
  display: none;
}

#menu + label {
  & .icon__cross {
    display: none;
  }
}

#menu:checked + label {
  & .icon__menu {
    display: none;
  }

  & .icon__cross {
    display: block;
  }

  // #menu:checked + label + .menu__list
  & + .menu__list {
    right: 0;
  } 
}

.menu__list {
  background-color: #393939;
  // border: 1px solid #707070;
  position: fixed;
  bottom: 60px;
  right: -100%;
  transition: 250ms;
  display: flex;
  flex-direction: column;
}

.menu__item {
  line-height: 40px;
  padding: 0 1.6rem;
  color: white;
  text-decoration: none;
}

a.menu__disc {
  text-decoration: none;
}