.home {
  @extend %landing-image;

  &::after {
    background-image: url(asset/image/background-image/glass-stairs.jpg);
  }
}

.link-title {
  font-size: 15px;
  line-height: 21px;
  font-weight: 500;
  text-align: center;
  margin: 50px 0;
  display: flex;
  justify-content: center;
  color: white;
  text-decoration: none;

  &::after {
    content: ' | Read More...';
  }
}
